.keyboardRow {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.btn {
  width: calc((100% - (10px * (var(--max-cols) - 1))) / var(--max-cols));
  aspect-ratio: 1/1;
  border: 3px solid black;
  color: black;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover:not(:disabled),
.btn:focus {
  background-color: hsl(200, 100%, 75%);
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}
